html {
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  color: 'white'
}

.ui#content{
  padding-top: 55px;
  width: 95%;
  padding-bottom: 10px;
}

#preview {
  margin-bottom: 10px;
}

#login {
  height: 100%
}

.ui#error {
  color: red;
  padding-top: 20px;
}

.ui#space-home {
  margin-top: 55px;
  width: 100%;
}

#post-comment {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  visibility: hidden;
}

#comment-textarea {
  visibility: hidden;
}

#comments {
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
}

#user-initials {
  height: 22px;
  width: 22px;
  background-color: cornflowerblue;
  border-radius: 15px;
  color: white;
}